* {
  text-decoration: none;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(background.jpg);
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center;
}
.navbar {
  display: flex;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
.logo {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 150px;
}
.logo p {
  margin-left: 0;
  font-weight: bolder;
  color: white;
  margin-top: 15px;
}
.logo img {
  margin: 0;
  height: 50px;
  width: 50px;
}
.navbar-content {
  color: gray;
}
.navbar-content a {
  text-decoration: none;
  color: grey;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 10px;
}
.outline {
  display: none;
}

.yellow {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  background-color: rgb(237 220 93);
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.connect {
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-weight: bolder;
  background-color: rgb(133 84 251);
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .navbar-content {
    display: none;
  }

  .outline {
    display: flex;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .navbar-content {
    display: none;
  }

  .outline {
    display: flex;
    margin-top: 7px;
    font-size: 40px;
  }
  .yellow {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: yellowgreen;
    margin-top: 7px;
    margin-right: 10px;
  }
  .connect {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    background-color: purple;
    margin-top: 7px;
    margin-left: 10px;
  }
}
